/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(20, 20, 20, 0.904) !important;
  font-family: 'Lato', sans-serif !important;
  margin: 0 !important;
  color: #ffffff !important;
}
